name: Deploy Web Aplikacije na Firebase Hosting

on:
  push:
    branches:
      - master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout repozitorija
      - uses: actions/checkout@v4

      # 2. Setup Node.js
      - name: Setup Node.js (v18.x)
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'

      # 3. Instalacija ovisnosti
      - name: Instalacija ovisnosti
        run: npm install

      # 4. Izgradnja aplikacije
      - name: Izgradnja aplikacije (Build)
        run: npm run build
        env:
          NEXT_PUBLIC_FIREBASE_API_KEY: ${{ secrets.NEXT_PUBLIC_FIREBASE_API_KEY }}
          NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN: ${{ secrets.NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN }}
          NEXT_PUBLIC_FIREBASE_PROJECT_ID: ${{ secrets.NEXT_PUBLIC_FIREBASE_PROJECT_ID }}
          NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET: ${{ secrets.NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET }}
          NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID: ${{ secrets.NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID }}
          NEXT_PUBLIC_FIREBASE_APP_ID: ${{ secrets.NEXT_PUBLIC_FIREBASE_APP_ID }}
          NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID: ${{ secrets.NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID }}

      # 5. Instalacija Firebase CLI
      - name: Instalacija Firebase CLI
        run: npm install -g firebase-tools

      # 6. Konfiguracija servisnog računa
      - name: Konfiguracija Servisnog Računa za Firebase CLI
        env:
          SERVICE_ACCOUNT_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_ROPERESCUEHR }}
        run: |
          echo "${SERVICE_ACCOUNT_KEY}" > firebase-service-account-key.json
          echo "GOOGLE_APPLICATION_CREDENTIALS=${PWD}/firebase-service-account-key.json" >> $GITHUB_ENV

      # 7. Deploy na Firebase Hosting
      - name: Deploy na Firebase Hosting
        run: firebase deploy --only hosting --project roperescuehr

      # 8. Završetak deploya
      - name: Završetak Deploya
        run: echo "Deploy Complete!"
