name: Deploy Web Aplikacije na Firebase Hosting v2

on:
  push:
    branches:
      - master # <-- OVO JE KRITIČNO! MORA BITI 'master'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: 1. Setup Node.js (v18.x)
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'

      - name: 2. Instalacija ovisnosti
        run: npm install

      - name: 3. Izgradnja aplikacije (Build)
        run: npm run build

      - name: Instalacija Firebase CLI
        run: npm install -g firebase-tools

      - name: 4. Deploy na Firebase Hosting
        run: firebase deploy --only hosting:default-site --project roperescuehr --token ${{ secrets.FIREBASE_SERVICE_ACCOUNT_ROPERESCUEHR }}
        #                          ^^^^^^^^^^^^^^^^^^^ <-- NOVO: Koristimo target "default-site"
      - name: Završetak Deploya
        run: echo "Deploy Complete!"
