name: Deploy Web Aplikacije na Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: 1. Setup Node.js (v18.x)
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'

      - name: 2. Instalacija ovisnosti
        run: npm install

      - name: 3. Izgradnja aplikacije (Build)
        # Prilagodite ovu liniju ako Vaša build komanda nije 'npm run build'
        run: npm run build

      - name: Instalacija Firebase CLI
        run: npm install -g firebase-tools

      - name: 4. Deploy na Firebase Hosting
        # AŽURIRANA LINIJA: Dodan je --project argument
        # ZAMJENITE 'VLASTITI-FIREBASE-PROJECT-ID' sa stvarnim ID-jem Vašeg projekta
        run: firebase deploy --only hosting --project VLASTITI-FIREBASE-PROJECT-ID --token ${{ secrets.FIREBASE_SERVICE_ACCOUNT_ROPERESCUEHR }}

      - name: Završetak Deploya
        run: echo "Deploy Complete!"
